{% extends "base.html" %}

{% block content %}

<div class="card">
    <div class="card-body">
        <form action="{%  url 'cargos_update' %}" method="post">

            {% csrf_token %}


            <input type="hidden" name="id_cargo" value="{{ cargo.id }}" >

            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Descrição</label>
                    {{ form.descricao }}

                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <button class="btn btn-info btn-fill pull-right mb-3">Atualizar</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock content %}
