<div class="modal" tabindex="-1" id="deleteModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirma Exclusão do Registro?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-footer-custom">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <a id="btnDelete" href="" class="btn btn-danger">Excluir </a>
            </div>
        </div>
    </div>
</div>