<div class="sidebar-wrapper">
  <div class="logo">
    <a href="/" class="simple-text">
      <span> <i class="fas fa-certificate"></i> MyClinic </span>
    </a>
  </div>
  <ul class="nav">
    <li>
      <a class="nav-link" href="{%  url 'dashboard' %}">
        <i class="fa fa-home"></i>
        <p>Home</p>
      </a>
    </li>

    <li>
      <a class="nav-link" href="{%  url 'colaboradores_home' %}">
        <i class="fa fa-users-cog"></i>
        <p>Colaboradores</p>
      </a>
    </li>

    <li>
      <a class="nav-link" href="{%  url 'pacientes_home' %}">
        <i class="fa fa-user-plus"></i>
        <p>Pacientes</p>
      </a>
    </li>

    <li>
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
      <i class="fa fa-file-invoice-dollar"></i>
        <p>Financeiro</p>
      </a>
    </li>

    <li class="collapse" id="collapseExample">


      <a class="nav-link" href="{%  url 'tipo_lancamento_home' %}">
        <i class="fa fa-tasks"></i>
        <p> Lançamentos tipos</p>
      </a>

      <a class="nav-link" href="{%  url 'fluxo_caixa_home' %}">
        <i class="fa fa-tasks"></i>
        <p>Fluxo de Caixa</p>
      </a>
    </li>

    <li>
      <a class="nav-link" href="{%  url 'usuario_home' %}">
        <i class="fa fa-users"></i>
        <p>Usuários</p>
      </a>
    </li>

    <li>
      <a class="nav-link" href="{%  url 'logout' %}">
        <i class="fa fa-sign-out"></i>
        <p>Sair do Sistema</p>
      </a>
    </li>
  </ul>
</div>
<div class="sidebar-background"></div>
