{% extends "base.html" %}

{% block content %}

{% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}


{% include "modal_delete.html" %}

<a href="{%  url 'fluxo_caixa_create'  %}" class="btn btn-info btn-fill pull-right mb-3">Cadastrar</a>

<div class="card">
    <div class="card-body">

    <table data-toggle="table"
        data-search="true"
        data-pagination="true"
        data-show-columns="true"
        data-pagination-pre-text="Anterior"
        data-pagination-next-text="Próximo"
        data-page-list="[10, 25, 50, 100, all]"
        class="table">
     <thead>
         <tr>

             <th scope="col">Data</th>
             <th scope="col">Descricao</th>
             <th scope="col">Valor</th>
             <th scope="col">Tipo</th>
             <th scope="col">Ações</th>
         </tr>
     </thead>
     <tbody>

         {% for lancamento in lancamentos %}

         <tr>
             <td>{{ lancamento.data }}</td>
             <td>{{ lancamento.descricao }}</td>
             <td>{{ lancamento.valor }}</td>


                {% if lancamento.tipo_lancamento.tipo == 'R'%}
                <td class="receita"> <span>{{ 'Receita' }} </span> <td>
                    {% else %}
                    <td class="despesa"> <span> {{ 'Despesa' }} </span> </td>
                {% endif %}



             <td>
                <a title="Editar"  href="{%  url 'fluxo_caixa_edit' lancamento.id %} "  class="fa fa-edit " ></a>
                <a title="Excluir"
                   href="#"
                   class="fa fa-trash deleteRegister"
                   data-delete="{%  url 'fluxo_caixa_delete' lancamento.id %}"
                   data-toggle="modal"
                   data-target="#deleteModal" >
                </a>

             </td>
         </tr>

         {% endfor %}
 </table>

    </div>
</div>
{% endblock content %}
